:root {
  --link-hover-color: #3f84e4;
  --link-hover-underline-color: #3f84e4;
}

.dark {
  --link-hover-color: #58a6ff;
  --link-hover-underline-color: #58a6ff;
}

.custom-summary p {
  margin: calc(2 * var(--content-gap));
  font-style: italic;
}

.main.post .post-content hr {
  background: none;
  border: none;
  height: 28px;
}

.main.post .post-content hr::before {
  content: '•   •   •';
  display: block;
  text-align: center;
}

figure.entry-cover p {
  padding-left: 10%;
  padding-right: 10%;
}
