/* Overall theme */
:root {
  --link-hover-color: #3f84e4;
  --link-hover-underline-color: #3f84e4;
}

.dark {
  --link-hover-color: #58a6ff;
  --link-hover-underline-color: #58a6ff;
}

mark {
  padding-bottom: .5em;
  padding-top: .5em;
}

/* Main profile */
.main.main .profile .button {
  padding-left: 18px;
  text-align: left;
  width: 155px;
}

/* Posts summary */
.custom-summary p {
  margin: calc(2 * var(--content-gap));
  margin-bottom: 0;
  font-style: italic;
}

/* Posts cover image */
figure.entry-cover p {
  padding-left: 10%;
  padding-right: 10%;
}

/* Posts <hr> as dots */
.main.post .post-content hr {
  background: none;
  border: none;
  height: 28px;
}

.main.post .post-content hr::before {
  content: '•   •   •';
  display: block;
  text-align: center;
}

/* Posts inline code */
.main.post .post-content code {
  padding-bottom: 0px;
  padding-top: 0px;
}
